<div class="content">
  <h3>All orders</h3><br>
  <table>
    <thead>
      <tr>
        <th scope="col" width="50px">ID</th>
        <th scope="col" width="100px">Name</th>
        <th scope="col" width="290px">Address</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col" width="70px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Account">#3412</td>
        <td data-label="Due Date"><img src="image/user.png" class="tab-img">Manoj</td>
        <td data-label="Amount">Lorem ispum dummy text industry.</td>
        <td data-label="Period">03/01/2022</td>
        <td data-label="Due Date">$64.00</td>
        <td data-label="Amount" style="position: relative;"><span class="pe"></span>Pending</td>
        <td data-label="Period"><i class="fa fa-gear ticon"></i>

          <i class="fa fa-angle-down ticon"></i>
        </td>
      </tr>

      
    </tbody>
  </table>
</div>