<p >view-priest works!</p>
<div class="content">
    


    <table>

<thead>
<tr>
<th scope="col" width="50px">ID</th>
<th scope="col" width="100px">Name</th>
<th scope="col" width="350px">Details</th>
<th scope="col" width="350px">Remove</th>

</tr>
</thead>
<tbody>
<tr>
<td data-label="Account">#3412</td>
<td data-label="Due Date"><img src="image/user.png" class="tab-img">Manoj</td>
<td data-label="Amount">Lorem ispum dummy text industry.</td>
<button class="btn btn-danger">remove</button>
</tr>

<tr>
<td data-label="Account">#3412</td>
<td data-label="Due Date"><img src="image/user.png" class="tab-img">Manoj</td>
<td data-label="Amount">Lorem ispum dummy text industry.</td>
<button class="btn btn-danger">remove</button>

</tr>
<tr>
<td data-label="Account">#3412</td>
<td data-label="Due Date"><img src="image/user.png" class="tab-img">Manoj</td>
<td data-label="Amount">Lorem ispum dummy text industry.</td>
<button class="btn btn-danger">remove</button>

</tr>

<tr>
<td data-label="Account">#3412</td>
<td data-label="Due Date"><img src="image/user.png" class="tab-img">Manoj</td>
<td data-label="Amount">Lorem ispum dummy text industry.</td>
<button class="btn btn-danger">remove</button>

</tr>
</tbody>
</table>
</div>
