<div>
    <table class="table mt-5">
        <thead>
            <tr>
                <th class="heading" scope="col">S.NO.</th>
                <th class="heading" scope="col">NAME</th>
                <th class="heading" scope="col">IMAGE</th>
                <th class="heading" scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody class="justify-content-center">
            <tr *ngFor="let category of list; index as i">
                <th>{{i+1}}</th>
                <td>{{category.name}}</td>
                <td>
                    <img src={{category.image}} width="80px" height="80px">
                </td>
                <td>
                    <div class="dropdown">
                        <a>
                            <button class="btn btn-success" style="border: none; background-color: rgb(88, 211, 32);"
                                class="btn btnn m-lg-2" data-bs-toggle="modal" data-bs-target="#Mod">Edit


                            </button></a>
                        <button class="btn btn-danger" style="border: none; background-color: rgb(216, 33, 33);"
                            type="button" (click)="delete(category._id)" class="btn btnn ">Delete
                        </button>
                    </div>
                </td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>