<div class="container">
  <div class="form-group">

    <label>Name</label>
    <input [(ngModel)]="name" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label>Type</label>
    <input [(ngModel)]="type" type="text" class="form-control" />
  </div>
  <div class="form-group">
    <label>Current Image</label>
    <img src='{{image}}' width="80px" height="80px">
  </div>
  <div class="form-group">
    <label>Upload image</label>
    <br><input type="file" (change)="selectImage($event)" name="image" />
  </div>
  <div class="group">
    <button class="btn btn-primary" (click)="Edit()" type="submit">Add</button>
  </div>
</div>