<p>view-category works!</p>
<div class="content">
    <table>

<thead>
<tr>
<th scope="col" width="50px">ID</th>
<th scope="col" width="100px">Name</th>
<th scope="col" width="290px">Discription</th>
<th scope="col">Edit/Delete</th>

</tr>
</thead>
<tbody>
<tr>
<td data-label="Account">#3412</td>
<td data-label="Due Date"><img src="image/user.png" class="tab-img">agarbatii</td>
<td data-label="Amount">Lorem ispum dummy text industry.</td>
<button  class="btn btn-danger">edit</button>
<button class="btn btn-success">Delete</button>

</tr>
<tr>
    <td data-label="Account">#3412</td>
    <td data-label="Due Date"><img src="image/user.png" class="tab-img">agarbatii</td>
    <td data-label="Amount">Lorem ispum dummy text industry.</td>
    <button  class="btn btn-danger">edit</button>
    <button class="btn btn-success">Delete</button>
    
    </tr>
    <tr>
        <td data-label="Account">#3412</td>
        <td data-label="Due Date"><img src="image/user.png" class="tab-img">agarbatii</td>
        <td data-label="Amount">Lorem ispum dummy text industry.</td>
        <button  class="btn btn-danger">edit</button>
        <button class="btn btn-success">Delete</button>
        
        </tr>
        <tr>
            <td data-label="Account">#3412</td>
            <td data-label="Due Date"><img src="image/user.png" class="tab-img">agarbatii</td>
            <td data-label="Amount">Lorem ispum dummy text industry.</td>
            <button  class="btn btn-danger">edit</button>
            <button class="btn btn-success">Delete</button>
            
            </tr>
                        
</tbody>
</table>
</div>
