<div class="container">
  <div class="form-group">
    <label>Category Name</label>
    <input [(ngModel)]="name" type="text" name="categoryName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Category Type</label>
    <input [(ngModel)]="type" type="text" name="categoryName" class="form-control" />
  </div>

  <div class="form-group">
    <label>Upload image</label>
    <br><input type="file" (change)="selectImage($event)" name="image" />
  </div>
  <div class="group">
    <button class="btn btn-primary" (click)="add()" type="submit">Add</button>
  </div>
</div>